<!DOCTYPE html>
<html>
    <head>
        <title>home_page</title>
    </head>
    <body bgcolor="yellow" align="center">
        <marquee bgcolor="skyblue"><font size="8">your information is secured</font></marquee><br/>
        <br/>
    <h1>Hi, welcome to the COMPANY</h1>
    <br/>
    <h2> 
    <a href="/add" target="_blank">Add Employee</a><br><br>
    <br/> 
    <a href ="/view" target="_blank">List Records</a><br><br>
    <br/>  
    <a href="/delete" target="_blank">Delete Record with id</a><br><br>
    <br/>
    <a href="/edit" target="_blank">Edit Record</a><br><br>
    </h2>
    <br/>
    <br/>
    </body>
</html>